{% extends 'base.html' %}
{% block pagetitle %}{{object.title}}{% endblock %}
{% block title %}{{object.title}}{% endblock %}
{% block primary %}
	<ul class="page-nav">
		{% if object.get_previous_published %}
		<li>
			<a href="{{ object.get_previous_published.get_absolute_url }}"
				title="{{ object.get_previous_published.title }}">{{object.get_previous_published.title}}</a>
		</li>
		{% endif %}
	</ul>
		
	{{object.body_html|safe}}


	{% for object in latest %}
		<h2>{{object.title}}</h2>
		<p>{{object.pub_date}}</p>
		{{object.body_html|truncatewords_html:"20"|safe}}
		<p>tags: 
			{% for tag in object.get_tags %}
				<a href="{%url tag_detail tag.slug%}">{{tag}}</a>
			{% endfor %}
		</p>
		<p><a href="{{object.get_absolute_url}}">read more</a></p>
	{% endfor %}
{% endblock %}